#layout-footer{
    color: white; 
    background-color: grey;
    a{
        color: white;
        text-decoration: none;
    }

    background: grey;
    padding: 5px 10px;
    display: flex;
    justify-content: flex-start; 
    bottom: 0;
    .footer-nav{
        ul{
            list-style: none;
        }
    }
}