#layout-footer {
  color: red;
  position: inherit;
  background-color: red;
  object-position: 0; }
  #layout-footer a {
    color: white;
    text-decoration: none; }
  #layout-footer .footer-nav ul {
    list-style: none; }
